# Weekly Challenge 09

*Original URL* https://community.alteryx.com/t5/Weekly-Challenge/Challenge-9-Analytics-Ranking/td-p/36736 and [**My Alteryx Approach**](https://github.com/dsmdavid/Alteryx-Weekly-Challenge/tree/master/submitted/sub_Challenge%2309)

## Brief

### Analytics Ranking:

The objective is to determine the top 5 ranking based on the count, however since there are multiple rows with same count (similar to a round of golf) multiple people can be in the same place (Rank) if they have the same score.

We have listed this as a beginner challenge and I expect it will go very quickly for many of you. Let us know what you think, we are looking forward to hearing your feedback.

In [1]:
import pandas as pd

## Approach I want to follow:
1. Read the data.
1. Find top 5 ranks.
1. Find Matching Players.

In [2]:
#Load the data
df = pd.read_csv("./09_files/09_input.csv")#,dtype=int)
df.head()

    First  count
0     BOB      3
1   BRADY     14
2  BURTON      4
3   CARLA     14
4   CHRIS     14

In [3]:
#Find top 5 ranks
top5 = sorted(df['count'].unique(),reverse=True)[0:5]

In [4]:
#Find Players with score in top 5:
players_with_top5_score = df[df['count'] >= min(top5)]

In [5]:
players_with_top5_score.sort_values(by='count', ascending=False)

     First  count
11   JANET     17
23    MARK     17
24    PAUL     15
1    BRADY     14
3    CARLA     14
4    CHRIS     14
16   LINDA     14
5     DALE     13
19  LUANNE     13
9      GUY     11
15   LASKA     11
27  SHARON     11

## Condensed approach:

In [10]:
import time
t1 = time.time()
import pandas as pd

#Input data
df = pd.read_csv("./09_files/09_input.csv")#,dtype=int)
#One liner
print(df[df['count'] >= min(sorted(df['count'].unique(),reverse=True)[0:5])].sort_values(by='count', ascending=False))

t2 = time.time()
t2-t1

     First  count
11   JANET     17
23    MARK     17
24    PAUL     15
1    BRADY     14
3    CARLA     14
4    CHRIS     14
16   LINDA     14
5     DALE     13
19  LUANNE     13
9      GUY     11
15   LASKA     11
27  SHARON     11

0.006513833999633789