# Weekly Challenge 02

*Original URL* https://community.alteryx.com/t5/Weekly-Challenge/Challenge-2-Preparing-Delimited-Data/td-p/36622 and [**My Alteryx Approach**](https://github.com/dsmdavid/Alteryx-Weekly-Challenge/tree/master/sub_Challenge%2302)

## Brief

Many products will export textual data with delimiters such as quotes. This is done so that strings can contain delimiters or control characters within them. Having more than one type of delimiter can be hard for ETL programs to interpret.  In the input text file, there are two different delimiters (double quotes, single quotes) and they surround different data types.
 
Use Alteryx to strip out the delimiters as superfluous and format the data as represented in the output.

In [1]:
import pandas as pd

## Approach I want to follow:
1. Read the data.
1. Split into columns.
1. Modify each column.

In [2]:
df = pd.read_csv("./02_files/input.csv")

In [3]:
#display data
df.head()

                                             Field_1
0  "Mary had a little lamb whose fleece was white...
1  "I do not like green eggs and ham",456,'25-DEC...

In [4]:
df[['Poem','Poem_Id','Poem_Read_Date']] = df['Field_1'].str.split(',', expand=True)

In [5]:
df.Poem = df.Poem.apply(lambda x: x.strip('"'))
df.Poem_Id = df.Poem_Id.astype(int)
df.Poem_Read_Date = df.Poem_Read_Date.apply(lambda x: pd.to_datetime(x, infer_datetime_format=True))
df.drop('Field_1',axis=1, inplace=True)
df

                                                Poem  Poem_Id Poem_Read_Date
0  Mary had a little lamb whose fleece was white ...      123     2001-06-16
1                   I do not like green eggs and ham      456     2010-12-25