# Weekly Challenge 07

*Original URL* https://community.alteryx.com/t5/Weekly-Challenge/Challenge-7-Download-Data-and-Parse-JSON/td-p/36734 and [**My Alteryx Approach**](https://github.com/dsmdavid/Alteryx-Weekly-Challenge/tree/master/submitted/sub_Challenge%2307)

## Brief

For the seventh challenge letâ€™s look at downloading data with an API and parsing that data from JSON into a usable format.

The data we will use comes from Quandl. The Quandl site offers access to several million financial, economic and social datasets. Data is indexed from multiple sources allowing users to find and download in various formats. All Quandl's data are accessible via an API.

For this example the response from these APIs is JSON. Our user is trying to get aggregated Annual Outbound Tourism Statistics for the US dating back to 1995. The Text Input contains the URL for the API request. Your goal is to parse the response.

Hint: After parsing the JSON, you will need to further identify the patterns within the data to effectively stage into a table for analytics.

Note: The data in the API is subject to change. When trying to match the output, the effort should be focused on achieving an identically structured dataset. 

We have listed this as an advanced challenge since configuring the download tool and parsing functions are more advanced topics. We are looking forward to hearing your feedback.

## Approach I want to follow:
1. Download the data.
1. Get the dataframe.

In [1]:
url_api = r'https://www.quandl.com/api/v3/datasets/UTOR/EXTUR_USA.json?api_key=5aMivNdsRkZNB-afkjse'

In [2]:
import requests
import pandas as pd

### A. Download the data using requests, then get the dataframe from the json

In [3]:
test = requests.get(url_api)
test.json()

{'dataset': {'id': 32422254,
  'dataset_code': 'EXTUR_USA',
  'database_code': 'UTOR',
  'name': 'Outbound Tourism - United States of America',
  'description': 'Outbound tourism statistics for United States of America.  Includes departures from United States of America in thousands, and tourism expenditures in other countries in USD millions.  Source: World Tourism Organization compendia and yearbooks.',
  'refreshed_at': '2018-11-24T03:15:52.556Z',
  'newest_available_date': '2014-12-31',
  'oldest_available_date': '1995-12-31',
  'column_names': ['Date',
   'Departures - Thousands',
   'Tourism expenditure in other countries - US$ Mn',
   'Travel - US$ Mn',
   'Passenger transport - US$ Mn'],
  'frequency': 'annual',
  'type': 'Time Series',
  'premium': False,
  'limit': None,
  'transform': None,
  'column_index': None,
  'start_date': '1995-12-31',
  'end_date': '2014-12-31',
  'data': [['2014-12-31', 68303.0, 145678.0, 110788.0, 34890.0],
   ['2013-12-31', 61874.0, 136136.0, 104107.0, 32029.0],
   ['2012-12-31', 60697.0, 129902.0, 100337.0, 29565.0],
   ['2011-12-31', 59209.0, 116448.0, 89701.0, 26747.0],
   ['2010-12-31', 61061.0, 110049.0, 86623.0, 23426.0],
   ['2009-12-31', 62051.0, 102953.0, 81421.0, 21532.0],
   ['2008-12-31', 63653.0, 119838.0, 92546.0, 27292.0],
   ['2007-12-31', 64049.0, 112788.0, 89235.0, 23553.0],
   ['2006-12-31', 63663.0, 106848.0, 84206.0, 22642.0],
   ['2005-12-31', 63503.0, 101421.0, 79990.0, 21431.0],
   ['2004-12-31', 61809.0, 94764.0, 71034.0, 23730.0],
   ['2003-12-31', 56250.0, 82091.0, 61966.0, 20125.0],
   ['2002-12-31', 58066.0, 81860.0, 62671.0, 19189.0],
   ['2001-12-31', 59442.0, 85610.0, 63689.0, 21921.0],
   ['2000-12-31', 61327.0, 91473.0, 67860.0, 23613.0],
   ['1999-12-31', 57222.0, 82513.0, 61567.0, 20946.0],
   ['1998-12-31', 55696.0, 78423.0, 58451.0, 19972.0],
   ['1997-12-31', 53229.0, 71948.0, 53808.0, 18140.0],
   ['1996-12-31', 52999.0, 65477.0, 49672.0, 15805.0],
   ['1995-12-31', 51285.0, 61042.0, 46379.0, 14663.0]],
  'collapse': None,
  'order': None,
  'database_id': 13151}}

In [4]:
df_a = pd.DataFrame.from_records(test.json()['dataset']['data'], columns = test.json()['dataset']['column_names'])

## B. Use just pandas

In [5]:
## create a temporary df to download the data
df1 = pd.read_json(url_api)

In [6]:
## keep only the fields of interest

In [7]:
df_b = pd.DataFrame.from_records(df1.loc["data"][0],columns = df1.loc["column_names"][0])

## A & B  are equivalent

In [8]:
(df_a == df_b).all()

Date                                               True
Departures - Thousands                             True
Tourism expenditure in other countries - US$ Mn    True
Travel - US$ Mn                                    True
Passenger transport - US$ Mn                       True
dtype: bool